<div class="media border p-3">
  <img src="/assets/isims.jpg" alt="ISIMS" class="mr-3 mt-3 rounded-circle" style="width:60px;">
  <div class="media-body">
    <h4>Adresse: <small><i>Pôle technologique de Sfax : Route de Tunis Km 10 B.P. 242 SFAX 3021 , 3021 Sfax
	</i></small></h4>
	<h4>Tél: <small><i>74 862 233
	</i></small></h4>
	<h4>Fax: <small><i>74 862 432 
	</i></small></h4>
	<h4>Email : <small><i>contact@isimsf.rnu.tn
	</i></small></h4>
	<h4>Site : <small><i> http://www.isimsf.rnu.tn
	</i></small></h4>
    <div class="media p-3">
      <img src="img_avatar2.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
      <div class="media-body">
        <h4>Jane Doe <small><i>Posted on February 20 2016</i></small></h4>
        <p>Lorem ipsum...</p>
      </div>
    </div>  
  </div>
</div>