<div id="licence" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
  <h1>Licences</h1>
  <h4>Licences Appliquées en Informatique</h4>
<h6>Technologies Multimédia & Web:</h6> <p>Ce diplôme a pour objectif d’offrir une formation spécifique dans les domaines de la production d'information et de services de communication mettant en œuvre les nouvelles technologies de la communication graphique et Audiovisuels:
Design et développement de sites Web
Réalisation et Montage documents filmiques audiovisuels
Réalisation de CD interactifs, CD-DVD carte visite
Animation 2D - 3D et synthèse d’images : maquettage de matériels industriels</p>

<h6>Technologies Informatique & Multimédia: </h6> 
<p>Ce diplôme a pour objectif d’offrir une formation spécifique aux développements de projets à valeur ajoutée autour des TIC dans des environnements orientés web:
Le développement des applications off line et on line en conformité avec les standards du marché et des normes du W3C:
Le Design et développement de sites Web
La Conception et le développement d’applications orientées gestion
Le développement et la maintenance des applications multimédias on line et off line</p>
  <h4>Licences Fondamentales en Informatique</h4>

<h6>Objectifs de la formation:</h6>
Donner à l’étudiant une formation théorique lui permettant d’acquérir des connaissances et des compétences dans le domaine de l’informatique et du multimédia
Développer, chez l’étudiant, l’esprit de création, d’initiative et le contrôle des nouvelles technologies de l’information appliquées dans l’environnement socio-économique et dans le domaine de la recherche scientifique à l’échelle nationale et internationale
Contenu de la formation:
Les unités fondamentales comportent:
 Une formation scientifique de base au niveau des mathématiques et des sciences physiques et
 Une formation scientifique et pratique dans la spécialité (informatique de base, SGBD, services Web, Conception des sites web dynamiques. Traitement d’images …
Les unités Horizontales dispensent une formation générale en langues, sciences juridiques et de gestion
Les unités optionnelles dispensent une formation scientifique et pratique complémentaires dans la spécialité
<h6>Perspectives scientifiques:</h6>
Les diplômes de cette licence peuvent accéder au master de recherche dans la limite des places disponibles participer au concours d’entrée au cycle d’ingénieurs accéder au master professionnel dans la limite des places disponibles
<h6>Perspectives professionnelles:</h6>
La formation donnée à ces diplômés leurs permet d’être recrutés par les entreprises privées ou publiques
</div>
<div id="master" class="container-fluid" bg-color = 'blue' style="padding-top:70px;padding-bottom:70px">
  <h1>MASTERE PROFESSIONNEL EN INGENIERIE DE MULTIMEDIA (IM)</h1>
  <h4>(Projet en cours d'un double diplôme avec l'université Ingémédia, Toulon France)</h4>
  <h5>Coordinateur du Master Pro IM: Dr. Radhouane GUERMAZI</h5>
  <h5>Objectifs:</h5>
  <p> Le Master Professionnel Ingénierie du Multimédia a pour objectif de développer des compétences de responsables dans le domaine de la production et de la gestion des contenus multimédias numériques pour des projets audiovisuels ou multimédia. A travers ce master, l’étudiant pourra acquérir et approfondir des compétences technologiques dans le domaine de la production audiovisuelle, le développement Web et mobile,… et des compétences stratégiques (marketing, communication des organisations, etc).</p>
  <h5>Contenu pédagogique de la formation:</h5> 
  <p>Les enseignements du Master Professionnel IM s’articulent autour:
d’une série de cours fondamentaux portant sur l’écriture et la scénarisation multimédia, la programmation évoluée du multimédia, la capture et le montage vidéo, les techniques sonores évoluées, le développement mobile, le Web marketing, le référencement des sites Web, les environnements évolués de développement (J2EE, Base de données avancée), etc.</p>
  <p>d’ateliers pratiques : production de contenu audiovisuel numérique, Media Asset Management, interactivité 2D, Effets spéciaux, Compositing avancé, infographie 3D, etc
d’une réalisation collective conduite dans une approche immersive en équipe de projet avec des partenaires professionnels. Cette réalisation consiste en la conception et production d’une application Multimédia (applications web et mobiles, blogs, court-métrages, forums,...). Elle permet aux étudiants, organisés en équipes de production, de mettre en pratique le savoir-faire acquis dans les unités d’enseignement.
des modules de préparation à la certification : TOEIC(Anglais), CAPM (Gestion des projets) Adobe (Final Cut Pro),…
d’une immersion professionnelle à travers deux stages : un premier stage de 12 semaines en M1 et un deuxième stage de 20 semaines en M2.</p>
<h5>Capacité d’accueil et Organisation pédagogique:</h5>
<p>25 candidats (titulaires d’une License en informatique ou scientifique),
Durée de la formation : 4 semestres.</p>
<h5>Débouchés professionnels:</h5>
<h5>Secteurs:</h5> 
<p>Multimédia Internet Audiovisuel, 
Communication Publicité Marketing, 
Sociétés de production audio-visuelle et d’édition visuelle
Fonctions: 
Chef de projet multimédia, 
Responsable Média Asset Management, 
Graphiste multimédia, 
Scénariste multimédia, 
Webmaster (création, animation), 
Consultant techno-information (référencement de sites).</p>
<h1>MASTERE DE RECHERCHE ENTERPRISE SYSTEM ENGINEERING (ESE)</h1>
  <h4>(Master dans le cadre d'un projet Européen, tous les cours sont en anglais)</h4>
<h5>Objectifs de la formation :</h5>
<p> Le Master ESE s’adresse aux étudiants souhaitant poursuivre leurs études de troisième cycle LMD.
 Les principaux objectifs de cette formation sont les suivants :
Offrir de nouveaux cours d’actualité et ciblés pour les PME.
Appliquer de nouvelles méthodes d'enseignement basées sur la compréhension plutôt que la mémorisation.
Renforcer la formation pratique et ceci au travers des études de cas réels issus des pays partenaires: Allemagne, Espagne, Portugal, Suède, Egypte, Syrie et la Jordanie.
Assurer la mobilité de l’étudiant : La possibilité pour les diplômés de ce master pour continuer leurs études aux universités de l'Union européenne.
Offrir des laboratoires équipés de logiciels avancés et outils d'Apprentissage en ligne.</p>
<h5>Conditions d'accès à la formation et pré-requis :</h5>
<p>Etre titulaire d’une licence en informatique, informatique et multimédia, information de gestion ou équivalent.
Compétences en SGBD, SI et programmation informatique/Web.</p>
<h5>Organisation & Capacité de la Formation :</h5>
<p>Cette formation est organisée sur deux ans : M1 et M2.
La capacité d’accueil est fixée à 25 étudiants.</p>
<h5>Perspectives professionnelles :</h5>
<p>Secteur privé : Chef de projet IT, Expert R&D,…
Secteur publique : Expert dans les centres de recherche, laboratoires, ….</p>
<h6>Contact :</h6> Pour plus d’information, veuillez adresser vos questions à : masterese.isims@gmail.com
<h6>Démarrage de la Formation :</h6> 15 Septembre 2014
<h6>Coordinateur du master : </h6> Dr. Lotfi BOUZGUENDA
<h1>MASTERE PROFESSIONNEL EN INGENIERIE DES SYSTEMES D’INFORMATIONS (ISI)</h1>
  <h4>Projet en cours d'un double diplôme avec l'université Josefh Fourier, Grenoble France)
http://ufrima.imag.fr/spip.php?article45</h4>
<h5>Objectif du Master:</h5>
<p> Développer des compétences de responsables dans le domaine du développement et la réalisation des systèmes informatiques (SI) des entreprises. Ce mastère forme des professionnels qui soient opérationnels et créatifs dans le domaine des SI, en maîtrisant les nouvelles technologies et propositions dans ce domaine.</p>
<h5>Contenu pédagogique de la formation : </h5>
<p>Les enseignements du Master ISI s’articulent autour:
D’une série de cours fondamentaux : Méthodes de modélisation des SI, Ingénierie des besoins, Architectures et systèmes évolués, Système d’information, Nouvelle tendance et communication, Génie logiciel, Analyse et fouille de données… 
D’ateliers pratiques : Plateforme de développement (JEE/.NET), Atelier de conception Orientée Objet des SI, Entrepôt de Données, Services Web, Technologie de Web2.0 ….
Des modules de préparation à la certification : Oracle, openERP, DotNet…
D’une réalisation collective qui permet aux étudiants, organisés en équipes de développement, de mettre en pratique le savoir-faire acquis dans les unités d’enseignement.
D’une immersion professionnelle à travers un stage de 4 mois.</p>
<h5>Capacité d’accueil et Organisation pédagogique</h5>
<p>25 candidats (titulaires d’une License en informatique ou scientifique),
Durée de la formation : 4 semestres.</p>
<h5>Débouchés professionnels</h5>
<h6>Secteurs:</h6>
<p>Département et/ou Service Informatique des entreprises privées ou publiques. 
Sociétés de développement de logiciel 
Agences de formation dans les nouvelles technologies </p>
<h6>Fonctions:</h6>
<p>Chef de projet en analyse et conception de systèmes d’information.
Développeur/ Intégrateur de solutions logicielles. 
Analyste des systèmes d’information.</p>
<h5>Plan d’études : (Unités d’enseignement)</h5>
<h6>Première année</h6>
<h6>Semestre 1 :</h6> <p>Tronc Commun avec MP-IM
UE1 : Systèmes d’information, 
ECUE1 : Méthodes de modélisation des SI (3H CI)
ECUE2 : Bases de données évoluées (3H CI)
UE2. Ingénierie et sciences des services
ECUE1 : Architectures et systèmes évolués (3H CI) 
ECUE2 : Réseaux nouvelles générations (3H CI) 
UE3. Génie logiciel 
ECUE1 : Ingénierie des besoins (3H CI) 
ECUE2 : Plateforme de développement (JEE/.NET) (3H CI) 
UE4. Techniques de communication   
ECUE1 : Anglais (préparation au TOEIC) (1.5H TD) 
ECUE2 : Français (préparation à la certification) (1.5H TD) 
UE5.Préparation à la Certification (3H CI)
ECUE1 : Oracle/SQL Server//.NET/Cisco/CMMI/ITIL 
Semestre 2
UE6. Système d’information, Nouvelle tendance et communication
ECUE1 : Travail coopératif assisté par ordinateur (3H CI)
ECUE2 : Nouvelles tendances en systèmes d’information (1.5H CI) 
UE7.Fondements théoriques et Conception des SI
ECUE1 : Modélisation OO approfondie (3H CI)
ECUE2 : Atelier de conception OO de SI (3H CI) 
UE8.Génie logiciel
ECUE1 : Conduite de projets (3H CI)
ECUE2 : Démarche qualité logiciel (1.5H CI)
UE9. Entrepôt de Données et ERP
ECUE1 : Entrepôt de Données (3H CI) 
ECUE2 : ERP(3H CI)
UE10. Préparation à la certification (3H CI)
ECUE1 : Oracle/SQL Server//.NET/Cisco/CMMI/ITIL </p>
<h5>Deuxième année</h5>
<h6>Semestre 1 :</h6>
<p>UE11. Sûreté de fonctionnement des ciels et sécurité informatique 
ECUE1 : Sûreté de fonctionnement des logiciels (1.5H CI)
ECUE2 : Audit et Sécurité informatique (1.5 H CI)
UE12. Architectures avancées des logiciels
ECUE1 : Modélisation orientée composants (1.5 CI)
ECUE2 : Architectures orientées services (3H)
UE13. . Le Web pour les SI et le Marketing
ECUE1 : Systèmes d’information Web (3HCI)
ECUE2: Dev des Services mobile (3H CI)
UE14. Ingénierie des connaissances et techniques de veille
ECUE1 : Ingénierie des connaissances et techniques de fouille (1.5H CI)
ECUE2 : Techniques de veille (1.5H CI)
UE15. Préparation à la certification (3H CI)
ECUE1 : Oracle/SQL Server//.NET/Cisco/CMMI/ITIL</p>
<h6>Semestre 2 :</h6> 
UE15. Projet de fin d’études 
<h6>Programme: </h6>
Coordinateur du master Pro ISI : Dr. Mouez ALI
<h1>MASTERE DE RECHERCHE EN INFORMATIQUE ET MULTIMEDIA (I2M)</h1>
<h5>Objectif du mastère:</h5>
<p>Donner des connaissances solides dans le domaine des fondements de l'informatique et de Multimédia.
Acquérir des connaissances sur les concepts et les méthodes dans les thèmes couverts par divers compétences en Informatique Fondamentale.
Préparation pratique au métier d'enseignant par une formation pédagogique.
Initiation à la recherche par la réalisation d'un mémoire de recherche.</p>
<h5>Contenu pédagogique de la formation :</h5>
<p> La formation au niveau de ce mastère est conforme aux orientations générales du système LMD mis en place par le ministère de l’enseignement supérieur et de la recherche scientifique. Cette formation s’étale sur 3 semestres de formation académique (semestres S1, S2 et S3). Le semestre S1 sera un semestre de consolidation de la formation de base (fondements mathématiques, informatique et multimédia). Les semestres S2 et S3 seront deux semestres de spécialisation à travers des unités d’enseignement fondamentales concentrées autour de 2 thématiques principale : les systèmes d’information, et les systèmes multimédia. Le semestre 4 est dédié pour la préparation d’un mémoire de mastère.</p>
<h5>Capacité d’accueil et conditions d'accès à la formation : </h5>
<p> candidats titulaires d’un diplôme :
De Licence Fondamentale en Informatique ou diplôme équivalent.
De Licence Fondamentale en Informatique Multimédia ou diplôme équivalent.
D’ingénieur en Informatique.
De Licence Appliquée en Informatique ou diplôme équivalent.
De Maîtrise d’Informatique ou diplôme équivalent.</p>
<h5>Conditions d’accès à la formation et pré-requis</h5>
<p>Le mastère recherche en Informatique et Multimédia est destiné aux :
Etudiants titulaires de licences fondamentales en : Informatique et multimédia, Informatique ou un diplôme équivalent.
Etudiants les plus distingués ayant obtenu une licence appliquée Informatique et multimédia, Web et multimédia ou un diplôme équivalent.</p>
<h5>Perspectives professionnelles du parcours</h5>
<p>Les connaissances théoriques et pratiques acquises permettront à l’étudiant de :
Se spécialiser dans le développement, la gestion et la maintenance de solutions web (applications web, sites web, etc.), des applications multimédias (CD interactifs, modélisation 3D, etc.) 
Etre opérationnel et créatif dans le domaine des SI, en maîtrisant les nouvelles technologies et propositions dans ce domaine.</p>
<h6>Coordinateur du master : </h6>Dr. Lotfi BOUZGUENDA
</div>
<div id="section3" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
  <h1>Section 3</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section41" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px">
  <h1>Section 4 Submenu 1</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section42" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
  <h1>Section 4 Submenu 2</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>