<div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        Collapsible Group Item #1
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body jumbotron">
		  <h1>Collapsible Group Item #1</h1> 
		  <p>Bootstrap is the most popular HTML, CSS...</p> 
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Collapsible Group Item #2
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body jumbotron">
		  <h1>Collapsible Group Item #2</h1> 
		  <p>Bootstrap is the most popular HTML, CSS...</p> 
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        Collapsible Group Item #3
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body jumbotron">
		  <h1>Collapsible Group Item #3</h1> 
		  <p>Bootstrap is the most popular HTML, CSS...</p> 
      </div>
    </div>
  </div>
  <div class="alert alert-success alert-dismissible" id="msg" style="display:none;" > </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Service</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Email</th>
          <th>Message</th>
          <th>Image</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reclamation of reclamations">
          <td>{{ reclamation.service }}</td>
          <td>{{ reclamation.nom }}</td>
          <td>{{ reclamation.prenom }}</td>
          <td>{{ reclamation.email }}</td>
          <td>{{ reclamation.message }}</td>
          <td><img src=" {{ reclamation.photo }} "/></td>
          <td><a href="" routerLink="/edit/{{reclamation.id}}">Edit</a></td>
          <td><a href="" (click)="deleteReclamation(reclamation.id)">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
